.container {
    margin: 5rem 0;
    margin-inline: auto;

    &_wrapper {
        max-width: 450px;
        position: relative;
        width: 100%;

        &:last-of-type {
            margin-bottom: 5rem;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transition: background-color 0.2s ease;
        position: relative;
        width: 45rem;

        @media screen and (max-width: 500px) {
            width: 40rem;
        }
        @media screen and (max-width: 430px) {
            width: 30rem;
        }

        .container_form_box {
            position: relative;
            max-width: 45rem;
            min-width: 100%;
            height: 5rem;
            border-radius: 0.5rem;
            border: 1px solid hsl(0, 0, 80%);
            background: hsl(0, 0, 98%);
            margin-bottom: 2rem;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease;
            justify-content: end;

            &:focus-within:not(&__error) {
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
            & > input {
                padding-left: 1rem;
            }
            &:hover {
                border: 1px solid rgba(0,0,0,0.5),
            }
            &__error {
                background: hsl(0, 59%, 90%);
                border: 1px solid hsl(0, 59%, 80%);
            }
        }
    }

    &_checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        border: 1px solid hsl(0, 0, 80%);
        border-radius: 0.5rem;
        background: hsl(0, 0, 99%);
        margin-bottom: 2rem;

        & > span {
            font-size: 1.1rem;
        }
    }
}
.floating_label {
    position: absolute;
    transition: all 0.2s ease-in;
    padding-left: 1rem;
    top: 1.3rem;
    transform: translate(0, .5rem);
    color: rgba(0,0,0,.45);
    font-size: 1.2rem;

    &_valid {
        font-size: 1.1rem;
        transform: translatey(calc(-1 * .9rem)) translatex(-1px);
    }
}

.input_field {
    width: 100%;
    height: 3rem;
    border: none;
    position: relative;
    background: transparent;
    transition: background-color .2s ease;

    &:is(:focus) + .floating_label {
        color: rgba(0,0,0,0.7);
        transform: translatey(calc(-1 * 0.9rem)) translatex(-1px);
        font-size: 1.1rem;
    }

    &__error {
        background: hsl(0, 59%, 90%);
        top: -5px;
    }
}
.checkbox_field {
    width: 2rem;
    height: 2rem;
}
.error_message_container {
    position: relative;

    &_text {
        color: indianred;
        position: absolute;
        top: -15px;
        font-size: 1.2rem;
    }
}